<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ToDoList</title>
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<style media="screen">
  .done {
    color: #ccc;
  }
</style>

<body>

  <div id="js-app">
    <input v-model="todoText">
    <button v-on:click="addTodo()" type="button" name="button">追加</button>
    <ul>
      <li v-for="todo in todos">
        <label>
          <input v-model="todo.done" type="checkbox" name="" value="">
          <span v-bind:class="{'done': todo.done}">{{todo.text}}</span>
        </label>
        <button v-on:click="deleteTodo(todo)" type="button" name="button">削除</button>
      </li>
    </ul>

  </div>

<script>
var app = new Vue({
  el: '#js-app',
  data: {
    todoText: '',
    todos: [
      {text: 'vue.jsを学ぶ', done: true},
      {text: 'vue.jsをsssss学ぶ', done: false}
    ]
  },
  methods: {
    addTodo: function(){
      var newTodo = this.todoText.trim();
      if(!newTodo){return;}
      this.todos.push(
        {text: newTodo, done: false},
      );
      this.todoText = '';
    },
    deleteTodo: function(todo){
      var index = this.todos.indexOf(todo);
      this.todos.splice(index, 1)
    }
  }
})

</script>

</body>
</html>
